html{
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}


:root{
  --PRIMARY-COLOR: #692323;
  --LIGHT-COLOR: #692323;
  --DARK-COLOR: #692323;
  --WHITE-CLR: #ffffff;
  --BLACK-CLR: #000000;


  --FORM-BG-COLOR: #FEFFE6;
  --FIELD-BG-COLOR: #EBECD0;

  --HEADING-CLR: #692323;

  --BORDER-LIGHT: #CFCFCF;

  --BTN-BORDER-RADIUS: 10px;
  --FIELD-BORDER-RADIUS: 50px;
}




/*  Styling added by shivam */

body{
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
.navbar.fixed-top {
  background-color: var(--WHITE-CLR);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  z-index: 1030;
  height: 90px;
  padding: 10px 20px;
}

.navbar .nav-link {
  color: var(--BLACK-CLR);
  font-size: 16px;
  padding: 10px 15px;
}

.navbar .nav-link:hover {
  color: var(--LIGHT-COLOR); 
}

/* Centered Logo */
.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


.navbar .navbar-brand img {
  height: 150px;
}

.corporate-btn {
  background-color: var(--LIGHT-COLOR); 
  color: var(--WHITE-CLR);
  padding: 10px 20px;
  border-radius: var(--BTN-BORDER-RADIUS);
  -webkit-border-radius: var(--BTN-BORDER-RADIUS);
  -moz-border-radius: var(--BTN-BORDER-RADIUS);
  -ms-border-radius: var(--BTN-BORDER-RADIUS);
  -o-border-radius: var(--BTN-BORDER-RADIUS);
  text-decoration: none;
  font-size: 14px;
}

.corporate-btn:hover {
  background-color: var(--BLACK-CLR);
}

/* Responsive Adjustments */
@media (max-width: 991px) {
  .navbar {
      height: auto;
      padding: 10px;
  }
  .navbar .container-fluid .d-flex{
    order:1;
  } 

  .navbar.fixed-top{
    padding: 0;
  }

  /* Adjust Logo for Mobile */
  .navbar-brand {
      position: relative;
      transform: none;
      left: auto;
      text-align: center;
      display: block;
      margin: 0!important;
      padding: 10px 0;
      order:-1;
  }

  /* Mobile Menu Alignment */
  .navbar-collapse {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: white;
      text-align: center;
      padding: 10px 0;
      z-index: 1050;
      box-shadow: 2px 1px 2px gray;
  }

 .orange-bg{
    background-color: var(--LIGHT-COLOR);
  }






  /* Make Corporate Button Visible */
  .corporate-btn {
      display: block;
      text-align: center;
      width: 100%;
      margin-top: 10px;
  }
}


.nav-form-icon{
  height: 40px;
}

.form-icon-anchor{
  margin-left: clamp(0.3rem, 5vw, 11rem);
}


@media (min-width: 712px){
  .form-icon-anchor{margin-right: -20rem;
  }
}





/* Carousel Base */

/* mobile screen */
@media (max-width: 576px)
{
  .mobile-banner{
    display: block!important;
    height: inherit;
}
  .desktop-banner{
    display: none!important;
  }

  .mobile-banner{
    background-size: cover;
    background-position: center;
    height: 100vh; 
  }

  .mobile-banner::after{
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* change color and opacity as needed */
    z-index: 1;
  }


  .mobile-banner .carousel-caption{
  position: relative;
  z-index: 2; /* ensures it's above the overlay */
  padding: 2rem;
  text-align: center;
  }

}


@media (min-width:577px) {
  
  .desktop-banner{
    display: block!important;
  }
  
  .mobile-banner{
    display: none!important;
  }
}


.main-banner-section{
  scroll-padding-top: 100px!important;
}


.hero-banner-link{
  color: var(--WHITE-CLR);
  text-decoration: underline;
}


.carousel-item {
  position: relative;
  border-radius: 20px;
  /* overflow: hidden; */
}

.container-fluid.px-3 {
  margin-top: 104px;
}


@media (max-width:576px){


  .container-fluid.px-3 {
    margin-top: 110px;
  }
}

.carousel-image {
  object-fit: cover;
  border-radius: 20px;
}

/* Caption Styling */
.carousel-caption {
  position: absolute;
  left: 6%;
  bottom: 14%;
  text-align: left;
  max-width: 45%;
  z-index: 10;
}

.carousel-caption h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--WHITE-CLR);
}

.carousel-caption p {
  font-size: 1.1rem;
  color: var(--WHITE-CLR);
  margin-bottom: 20px;
}

/* Indicators */
.carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #D9D9D9 !important;
  border: none;
}



.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: var(--WHITE-CLR);
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}

.carousel-indicators button.active {
  background-color: var(--LIGHT-COLOR) !important;
}

/* Custom Button */
.btn-custom {
  background-color: var(--LIGHT-COLOR);
  border-radius: var(--BTN-BORDER-RADIUS);
  -webkit-border-radius: var(--BTN-BORDER-RADIUS);
  -moz-border-radius: var(--BTN-BORDER-RADIUS);
  -ms-border-radius: var(--BTN-BORDER-RADIUS);
  -o-border-radius: var(--BTN-BORDER-RADIUS);
  padding: 10px 20px;
  font-size: 1rem;
  color: var(--WHITE-CLR);
  border: none;
}

.btn-custom:hover {
  background-color: var(--BLACK-CLR);
}


.mobile-banner-wrapper {
  position: relative;
  height: inherit;
}

.mobile-banner-wrapper .overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.33); /* dark overlay */
  z-index: 1;
  border-radius: 10px;
}

.mobile-banner-wrapper .mobile-banner {
  position: relative;
  z-index: 0;
}



/* Responsive Adjustments */
@media (max-width: 992px) {
  .carousel-caption {
      max-width: 100%;
      bottom: 1%;
  }

  .carousel-caption h1 {
      font-size: 2.5rem;
  }

  .carousel-caption p {
      font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .carousel-item {
      height: 42vh;
  }

  .carousel-caption {
      width: 100%;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
  }

  .carousel-caption h1 {
      font-size: 2rem;
  }

  .carousel-caption p {
      font-size: 0.95rem;
  }
}

@media (max-width: 615px) {
  .carousel-item {
      height: 55vh;
  }

  .carousel-caption {
      width: 100%;
      top: 4%;
      text-align: center;
      left: 51.25%;
      transform: translateX(-50%);
      z-index: 10;
      padding-right: 10px;
  }

  .carousel-caption h1 {
      font-size: 1.4rem;
      padding-bottom: 0rem !important;
      margin-bottom: 12px;
  }

  .carousel-caption p {
      font-size: 0.85rem;
      padding: 0 10px 0.5rem 10px!important;
      margin-bottom: 12px !important;
      line-height: 1.25rem;


  }

  br {
      display: none !important;
  }

  .btn-custom {
      background-color: var(--LIGHT-COLOR);
      border-radius: var(--BTN-BORDER-RADIUS);
      -webkit-border-radius: var(--BTN-BORDER-RADIUS);
      -moz-border-radius: var(--BTN-BORDER-RADIUS);
      -ms-border-radius: var(--BTN-BORDER-RADIUS);
      -o-border-radius: var(--BTN-BORDER-RADIUS);
      padding: 8px 10px;
      font-size: 0.8rem;
      color: var(--WHITE-CLR);
      border: none;
  }

  .carousel-indicators {
      bottom: -16px !important;
      
  }
}





/* categories section */

.category h2 {
  color: var(--HEADING-CLR);
}

.category-card {
  cursor: pointer;
  background: #f8f9fa;
  padding: 45px 30px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-card:hover {
  background: #e9ecef;
}

.category-text h5 {
  color: var(--HEADING-CLR);
  font-size: 21px;
  font-weight: 700;
}

.category-img img {
  width: 100px;
  height: 100px;
}

.modal-content {
  border-radius: 15px;
  overflow: hidden;
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
}

.left-section img {
  width: 100%;
  border-radius: 10px;
}

.right-section {
  padding: 20px;
}

.category-list {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.category-list div {
  text-align: center;
}

.category-list img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.view-more-btn {
  background-color: var(--LIGHT-COLOR);
  border: none;
  padding: 10px 125px;
  margin-top: 20px;
  border-radius: var(--BTN-BORDER-RADIUS);
  cursor: pointer;
  text-align: center;
  display: block;
}

.view-more-btn {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}



@media (max-width: 768px){
  .view-more-btn{
    padding: 10px 100px;
  }
}

.view-more-btn:hover {
  background-color: var(--LIGHT-COLOR);
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 0;
  right: 3px;
  z-index: 999;
  background: none;
  border: none;
  font-size: 35px;
  cursor: pointer;
  color: var(--BLACK-CLR);
}


/* Carousel Image */
.carousel-inner img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}



.categories .carousel-item {
  height: 65vh;

}


.carousel-indicators {
  bottom: -10px;
}

.carousel-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #bbb;
  border: none;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.carousel-indicators .active {
  background-color: #333;
}


.carousel-indicators{
  display: none;
}
@media (max-width: 576px) {
  .category{
      margin:0px !important;
  }
  .category h2 {
      color: var(--HEADING-CLR);
      font-size: 26px;
      font-weight: 700;
  }
  
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 5px;
  height: 5px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: var(--WHITE-CLR);
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}
}

/* Scroll to Top container */


.scroll-top-container{
  position: relative;
}


.scroll-top{
position: fixed;
right: 2rem;
font-size: 25px;
bottom: 50px;
z-index: 90;
width: 40px;
height: 40px;
background-color: var(--WHITE-CLR);
color: var(--LIGHT-COLOR);
border: 1px solid var(--LIGHT-COLOR);
border-radius: 25px;
display: flex;
align-items: flex-start;
justify-content: center;
}


.scroll-top:hover{
  background-color: var(--LIGHT-COLOR);
  color: white!important;
}







/* E-commerce Shopping Platform */
.store-container { 
  margin: auto;
  padding: 20px;
}

.store-container a{
  color:var(--WHITE-CLR);
}
.store-box {
  text-align: center;
  padding: 20px 30px;
  border-radius: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 100%;
  transition: 0.3s ease-in-out;
}
.amazon-box {
  background-color: #233040;
  color: var(--WHITE-CLR);
  flex-direction: column;
}
.indusmela-box {
  border: 1px solid var(--LIGHT-COLOR);
  color: #D26C3B;
  background: var(--WHITE-CLR);
  flex-direction: row;
  
}
.store-box img {
  height: 55px;
  margin-top: 5px;
}
.store-box:hover {
  transform: scale(1.02);
}
.indusmela-box img {
  margin-left: 10px;
}


/*End of Shivam's Styling*/









/*  Header Styling */

.nav-unordered-list{
  list-style: none;
  display: flex;
  gap: 2rem;
}



/*  ||  Featured Items Styling */

.featured-items-heading{
  color: var(--HEADING-CLR);
  padding-top: 5rem;
}

.fi-img{
  max-width: 100%;
  border: 1px solid #cfcfcf;
  border-radius: 11px;
}


.fi-grid--container{
  row-gap: 4rem;
}


.fi-item-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.sale-price{
  color: #A0A0A0;
}

.price{
  color: var(--DARK-COLOR);
  font-weight: 600;
}

.buy-btn{
  border-color: var(--DARK-COLOR)!important;
  color: var(--DARK-COLOR);
  text-transform: uppercase;
  border-radius: var(--BTN-BORDER-RADIUS);
}

@media (max-width: 768px){
  .buy-btn{ 
    display: none;
  }

}

.buy-btn:hover, .buy-btn:active{
  background-color: var(--LIGHT-COLOR)!important;
  color: var(--WHITE-CLR);
  border: none;
}


.fi-toggle-section{
  display: none;
  margin-top: 4rem!important; 
}



.fi-pop-up-img{
  height: fit-content;
}

 .figcaption-text{   
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
 }


 .view-all-btn-container{
  justify-content: center;
  gap: 2rem;
}


.view-all-single-btn-container{
  width: 250px;
  
}

.view-all-btn{
  background-color: var(--LIGHT-COLOR)!important;
  border: none;
  text-transform: uppercase;
  width: 100%;
  border-radius: var(--BTN-BORDER-RADIUS);
  border: 1px solid var(--LIGHT-COLOR)!important;
}

.view-all-btn:any-link{
  background-color: var(--LIGHT-COLOR)!important;
  color: var(--WHITE-CLR)
}





/* Small  */
@media screen and (max-width:768px){
  .view-all-btn-container{
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }


  .fi-grid--container, .fi-toggle-section-styling{
    row-gap: 0!important;
    margin-top: 0!important;
  }
}

.view-all-btn:hover{
  color: var(--LIGHT-COLOR);
  background-color: var(--WHITE-CLR)!important; 
}





/* ||  Bulk Contact Form  */


.bulk-contact-form--main-container{
  padding: 5rem 0;
  margin: 0;
}

.bulk-contact-inner-container{
  background-image: url('../images/contact-bulk-buy-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  width: 92%!important;
  margin-inline: auto;
}

.bulk-contact-inner-container > .row{
  gap: 5rem;
}


.bulk-form-overlay{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 40px;
}

@media (min-width: 1261px) and (max-width: 1350px) {
  .bulk-contact-inner-container > .row{
    gap: 3rem;
  }
}


@media screen and (min-width: 769px) and (max-width: 1260px) {

  .bulk-contact-inner-container > .row{
    gap: 1rem;
  }

  .bulk-contact-form-container{
    width: 88%;
  }

  .text-btn-container{
    text-align: center;
    margin: 0!important;
    margin-top: 2rem!important;
    width: 100%;
  }
}


@media screen and (max-width: 768px){
  .bulk-contact-inner-container{
    background: none;
  }

  .bulk-form-overlay{
    background-color: var(--WHITE-CLR);
  }


  .bulk-contact-inner-container > .row{
    flex-direction: column;
  }

  .bulk-contact-form--main-container{
    width: -webkit-fill-available;
  }

  .bulk-left-custom-heading{
    display: block;
  }

  .text-btn-container{
    text-align: center;
    margin: 0!important;
    margin-top: 2rem;
    width: 100%;
  }

  .bulk-contact-form-container{
    width: inherit!important;
    padding: 35px 30px!important;
    border: 1px solid var(--BORDER-LIGHT);
  }

}


/* Bulk Left Container */
.text-btn-container{
  color: var(--WHITE-CLR);
  align-self: flex-start;
  margin-left: 2rem;
  margin-top: 3rem;
  margin-bottom: 7rem;

}


.bulk-left-heading{
  font-weight: 700;
}


.bulk-left-custom-heading{
  font-size: clamp(20px, 7vw, 90px);
  font-weight: 700;
}

.bulk-left-para{
  font-weight: 400;
  width: 100%;
  line-height: 1.8em;
}

.bulk-buy-btn{
  text-transform: uppercase;
  background-color: var(--WHITE-CLR)!important;
  border: 1px solid var(--DARK-COLOR);
  color: var(--HEADING-CLR);
}

.bulk-buy-btn:hover{
  background-color: var(--LIGHT-COLOR)!important;
  border: 1px solid var(--DARK-COLOR);
  color: var(--WHITE-CLR);
}


@media screen and (max-width: 768px){
  .text-btn-container{
    color: var(--BLACK-CLR);
  }


  .bulk-left-heading, .bulk-left-para{
    text-align: left
  }

  .bulk-left-custom-heading{
    display: inline;
    margin-left: 6px;
    color: var(--LIGHT-COLOR);
  }

}


/* Bulk Right Container */

.bulk-contact-form-container{
  background-color: var(--WHITE-CLR);
  border-radius: 32px;
  padding: 35px;
  margin-top: 3rem ;
  margin-bottom: 3rem ;
}

.bulk-contact-form-heading{
  color: var(--HEADING-CLR);
  font-size: 20px;
}


.bulk-contact-form-container label {
  color: #A0A0A0;
}

.bulk-contact-form-container :is(input, textarea){
  border: 1px solid var(--BORDER-LIGHT);
  border-radius: var(--BTN-BORDER-RADIUS);
  padding: 10px;
  margin-bottom: 10px;
}

.bulk-contact-form-container input::placeholder, .bulk-contact-form-container textarea::placeholder{
  padding: 10px;
  opacity: 0.5;
}

.submit-btn{
  background-color: var(--LIGHT-COLOR)!important;
  border-radius: var(--BTN-BORDER-RADIUS);
  border: none!important;
  padding: 10px;
}


@media (max-width: 768px){
  .bulk-contact-form-container{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    width: 94% !important;
  }
}


/*  ||  TESTIMONIAL SECTION */

.testimonial{
  padding: 0;
}


.testimonial-heading{
  color: var(--HEADING-CLR);
}

@media (max-width: 768px) {
  .testimonial-para{
    display: block;
    width: 95%;
  }
  
  .testimonial-heading{
    margin-inline: 12px;
  }
}




.test-para{
  font-size: 14px;
}

.slick-arrow.slick-prev::before{
  content: url('../images/test-left-arrow.png');
}

.slick-arrow.slick-next::before{
  content: url('../images/test-right-arrow.png')
}



.slick-arrow.slick-prev::before, .slick-next::before {
  border-radius: 20px;
}


.slick-prev{
    left: -40px !important;
  } 

  .slick-next {
    right: 11px!important;
}



/* .slick-prev{
    left: -40px !important;
  }  */

@media (max-width: 768px) {
  

  .testimonial{
    padding: 0 0;
  }

  .single-testimonial{
    padding: 1.5rem!important;
    margin: 1rem!important;
    flex-direction: column;
  }

  .slick-prev, .slick-next{
    display: none!important;
  }


  .test-para{
    font-size: 13px;
  }

  .right-test{
    margin-top: 1rem;
    width: 100%!important;
  }


}

.review-img{
  width: 30%;
}


.rating-img{
  width: 30%;
}



.test-dots{
  display: block;
  color: var(--DARK-COLOR);
  text-decoration: underline;
}

.test-more {
  display: none; /* Hidden by default */
}

.test-more.visible {
  display: inline; /* Show when the 'visible' class is added */
}

.single-testimonial{
  border: 1px solid var(--BORDER-LIGHT);
  border-radius: 11px;
  padding: 1rem;
  margin-inline: 1.2rem;
  column-gap: 2rem;
}

/* ||  Contact Us Form */

#contact-us{
  scroll-margin-top: 100px;
}

.contact-us-section{
  margin: 5rem auto;
  padding: 0;
}


@media screen and (max-width: 768px) {
  .contact-us-section > .mx-auto{
    width: 80%!important;
  }
  .contact-us-section{
    margin-top: 5rem;
  }
}

.contact-us-main--inner-container{
  column-gap: 2rem;
  row-gap: 4rem;
}

.name-field{
  padding-left: 0;
}

.number-field{
  padding-right: 0;
}




@media (max-width: 576px){
  .contact-us-main--inner-container{
    row-gap: 5rem;
  }
}

.add-info-item{
  gap: 10px;
}

.add-icon-container > img{
  width: unset!important;
}


.add-icon-info h4{
  font-size: 1.3rem;
}

.add-icon-info p{
  font-size: 15px;
}


.left-add-info{
  border: 1px solid #13606633;
  border-radius: 20px;
  row-gap: 2rem;
}

.right-contact-us{
  background-color: var(--FORM-BG-COLOR);
  border-radius: 20px;
}
.right-contact-us h3{
  color:#692323
}
.right-contact-us p{
  color:#000000
}

.right-contact-us .container .row{
  row-gap: 1.5rem;
}


.right-contact-us input::placeholder, .right-contact-us textarea::placeholder{
  padding: 10px;
  opacity: 0.5;
}


.contact-us-field{
  background-color: var(--FIELD-BG-COLOR);
  padding: 10px;
  border-radius:var(--FIELD-BORDER-RADIUS);
  border: 1px solid transparent;
}

.contact-us-msg{
  background-color: var(--FIELD-BG-COLOR);
  padding: 10px;
  border-radius: var(--BTN-BORDER-RADIUS);
  -webkit-border-radius: var(--BTN-BORDER-RADIUS);
  -moz-border-radius: var(--BTN-BORDER-RADIUS);
  -ms-border-radius: var(--BTN-BORDER-RADIUS);
  -o-border-radius: var(--BTN-BORDER-RADIUS);
  border: 1px solid transparent;
}

.right-contact-us label{
  font-size: 12px;
  display: none;
}



/* Large screen  */

@media screen and (min-width: 769px){
  
  .modal{
    --bs-modal-width: 700px!important;
    padding: 4rem;
  }

}

/* Small screen  */

@media screen and (max-width: 768px) {
  .pop-up-flex-container{
    flex-direction: column;
    align-items: center;
  }  
}



.pop-up-flex-container{
  gap: 1rem;

}

.pop-up-price{
  color: var(--DARK-COLOR);
  font-weight: 700;
  font-size: 1.6rem;
}









.carousel-item{
  background-color: var(--WHITE-CLR);
}









/* footer section starts here */
section {
  padding: 60px 0;
  min-height: 100vh;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a,
a:active,
a:focus {
  color: #6f6f6f;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: .2s;
  -ms-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-logo img {
  max-width: 100%;
  height: auto;
}

.footer-section {
  background-color: var(--PRIMARY-COLOR);
  position: relative;
  overflow: hidden;
  z-index: 9;
}

.footer-section:before {
  content: '';
  position: absolute;
  top: -146%;
  left: -18%;
  width: 44%;
  height: 257%;
  transform: rotate(54deg);
  background-color: var(--PRIMARY-COLOR);
  -webkit-transform: rotate(54deg);
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  -o-transform: rotate(54deg);
  z-index: -10;
}

.footer-section:after {
  position: absolute;
  content: '';
  background-color: var(--PRIMARY-COLOR);
  top: -24%;
  right: 4%;
  width: 26%;
  height: 264%;
  transform: rotate(44deg);
  -webkit-transform: rotate(44deg);
  -moz-transform: rotate(44deg);
  -ms-transform: rotate(44deg);
  -o-transform: rotate(44deg);
  z-index: -10;
}

.footer-top {
  padding-top: 96px;
  padding-bottom: 50px;
}

@media (max-width: 576px) {
  .footer-top {
    padding-bottom: 30px;
  }
}

.footer-top p,
.company-footer-contact-list li {
  color: #ffffff;
}

.company-footer-contact-list {
  margin-top: 10px;
}

.company-footer-contact-list li {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

.company-footer-contact-list li+li {
  margin-top: 5px;
}

.company-footer-contact-list li i {
  margin-right: 10px;
  font-size: 20px;
  display: inline-block;
}

.footer-top .site-logo {
  margin-bottom: 25px;
  display: block;
  max-width: 250px;
}

.widget-title {
  text-transform: capitalize;
}

.footer-top .widget-title {
  color: #ffffff;
  margin-bottom: 12px;
  font-weight: 600;
}

.courses-link-list li+li {
  margin-top: 10px;
}

.courses-link-list li a {
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 400;
}

.courses-link-list li a:hover {
  color: #ffb606;
}

.courses-link-list li i {
  margin-right: 5px;
}

.footer-top .small-post-title a {
  color: #ffffff;
  font-weight: 400;
}

.small-post-item .post-date {
  color: #ffb606;
  margin-bottom: 3px;
  font-weight: 400;
}

.small-post-list li+li {
  margin-top: 30px;
}

.news-letter-form {
  margin-top: 15px;
}

.news-letter-form input {
  width: 100%;
  padding: 12px 25px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
}

.news-letter-form input[type="submit"] {
  width: auto;
  border: none;
  background-color: #ffb606;
  padding: 9px 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #000;
  margin-top: 10px;
}

.footer-bottom {
  padding: 13px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.149);
}

.copy-right-text {
  color: #ffffff;
}

.copy-right-text a {
  color: #ffb606;
}

.terms-privacy li+li {
  margin-left: 30px;
}

.terms-privacy li a {
  color: #ffffff;
  position: relative;
}

.terms-privacy li a:after {
  position: absolute;
  content: '-';
  color: #ffffff;
  display: inline-block;
  top: 0;
  right: -18px;
}

.terms-privacy li+li a:after {
  display: none;
}

.footer .socialLinks {
  margin-top: 28px;
}

.socialLinks ul li {
  display: inline-block;
}


.socialLinks ul li a i {
  display: block;
  margin: 0 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
  text-align: center;
  margin-right: 6px;
  line-height: 28px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contact ul li a i {
  display: block;
  margin: 0 2px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid  #ffffff !important;
  text-align: center;
  font-size: 15px;
  margin-right: 10px;
  line-height: 28px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.socialLinks ul li a {
  color: #ffffff;
}

.contact ul li i {
  color: #ffffff;
}

.company-footer-Follow-us li a:hover{
  color: var(--LIGHT-COLOR);
  border-color: var(--LIGHT-COLOR);
}


.company-footer-contact-list a:hover li{
  color: var(--LIGHT-COLOR);
}

@media (max-width:576px){
  .course-links{
      padding: 15px 12px !important;
  }
  .category-card{
      flex-direction: column !important;
      height: 240px;
  }
}